.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
}

.logo-img {
  min-width: 200px;
  margin-right: 6px;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  list-style: none;
}
.home,
.work,
.contact,
.career,
.about,
.dedicate {
  text-decoration: none;
  color: var(--blue);
  font-size: 14px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: 500;

  white-space: nowrap;
  padding: 0px 15px 0px 15px;
  border-right: 2px solid #c46360;
}
.contact-btn {
  border-radius: 5px;
  border: 1px solid #419586;
  background: #419586;
  color: #ffffff !important;
  padding: 10px 25px !important;
  text-align: center;
}
ul:nth-last-child() {
  display: none;
}
.home:hover,
.work:hover,
.contact:hover,
.career:hover,
.about:hover,
.dedicate {
  color: var(--bs-green);
}
.mobile-menu-icon {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 900px) {
  ul:nth-last-child() {
    display: flex;
  }
  .navbar {
    height: 100%;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    inset: 0;
    padding: 50px 10px 10px 20px;
    margin: 0;
    background: #ede7d9;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    left: 0;
    top: 75px;
    height: 100vh;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .home,
  .work,
  .contact,
  .career,
  .about,
  .dedicate {
    border-right: unset;
  }
  .nav-bottom {
    border-bottom: 2px solid #c46060;
    width: 20px;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
    background-color: transparent;
  }
}
